

#container {
    width: auto;
    max-width: 200px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.square{
    background-color: lightgray;
}

.row {
    flex-basis: auto;
    width: 10px;
    height: 160px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.column {
    flex-basis: auto;
    border: 1px solid red;
    height: 10px;

}

.black-hover{
    background-color: black;
}