


#container {
    max-width: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.square{
    background-color: lightgray;
}

.row {
    flex-basis: auto;
    border: 0.5px solid grey;
    display: flex;
    flex-direction: column;
}

.column {
    flex-basis: auto;
    border: 0.5px solid grey;


}

.black-hover{
    background-color: black;
}